form {
  width: 50vw;
  font-size: 20px;
  margin: 20px;
}
label {
  width: 180px;
  padding-right: 2px;
  float: left;
  width: 100px;
}
input,
select {
  width: 100px;
}
.free {
  width: 220px;
}
.nu {
  float: none;
  margin-right: 10px;
  width: 10px;
  background-color: black;
}
