* {
  font-size: 18px;
}
h1 {
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-weight: 1000;
}
h1,
h3,
p,
ul {
  margin: 20px;
}
.jp {
  display: block;
  margin: 0 auto;
}
span {
  margin: 0;
  font-style: italic;
  word-spacing: 1px;
}
.footer {
  word-spacing: 2px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
}
