body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
  height: 100vh;
}
.sidebar {
  border: 10px rgba(26, 77, 70, 0.2) solid;
  background: #426b73;
  width: 20%;

  padding: 10px;
  text-align: center;
}
a {
  color: #ffffff;
}
.words {
  width: 80%;
  font-size: 25px;
  background: #ffffff;
  margin: 5px 60px;
}
#datb {
  background: rgb(26, 25, 25);
  color: white;
  padding: 0 25px;
  border-style: outset;
  border-radius: 5px;
  font-size: 17px;
}
.aa {
  display: block;
  margin: 2px 30px;
  text-align: left;
  font-size: 20px;
}
#one {
  text-align: left;
  color: #dfc115;
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 3px;
  margin-left: 20px;
}
.log {
  color: #31776f;
  font-size: 50px;
  font-style: italic;
}
